# Este arqivo deve ser renomeado para .env

# Porta do servidor
PORT=5000

# Acesso ao MongoDBAtlas
MONGO_URI=mongodb+srv://admin:DbTodoList123%23@clustertodoteste.dkxiwco.mongodb.net/?appName=ClusterTodoTeste

# JWT Secret
JWT_SECRET=ChaveSecretaTodoList123